NODE_ENV=development / production (for Docker Image)
PORT=3000
HOST=localhost / 0.0.0.0 (for Docker Image) 
DATABASE_URL=mongodb+srv://username:password@host/urlshortener?retryWrites=true&w=majority

# USING BASIC AUTH
SECRET_KEY="Requrired for basic auth"

# USING AWS COGNITO
AWS_COGNITO_USER_POOL_ID=''
AWS_COGNITO_CLIENT_ID=''
AWS_REGION='us-east-2'
AWS_COGNITO_ACCESS_KEY=''
AWS_COGNITO_SECRET_KEY=''

# REDIS_HOST
REDIS_HOST=localhost / redis (for Docker Image)


# SHORT URL PREFIX
SHORT_URL='http://localhost:3000'

ENV_DATA=dotenv / process.env (for Docker Image)
```