NODE_ENV=development
PORT=3000
DATABASE_URL=mongodb+srv://username:password@host/urlshortener?retryWrites=true&w=majority

# USING BASIC AUTH
SECRET_KEY="Requrired for basic auth"

# USING AWS COGNITO
AWS_COGNITO_USER_POOL_ID='us-east-2_r63ekt0vL'
AWS_COGNITO_CLIENT_ID='781vi03vu4kijro0c6mt4clbp5'
AWS_REGION='us-east-2'
AWS_COGNITO_ACCESS_KEY=''
AWS_COGNITO_SECRET_KEY=''


# SHORT URL PREFIX
SHORT_URL='http://localhost:3000'
```